<div
  class="modal fade"
  id="priceModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 shadow-lg">
      <div class="modal-header text-white" style="background-color: #0dcaf0">
        <h5 class="modal-title fw-bold">
          <i class="bi bi-tag-fill me-2"></i>Cập nhật giá bán
        </h5>
      </div>

      <div class="modal-body p-4">
        <div class="mb-4 text-center">
          <label class="text-uppercase text-muted small fw-bold"
            >Tên thuốc</label
          >
          <h3 class="fw-bold" id="price-drug-name" style="color: #0dcaf0">
            ...
          </h3>
        </div>

        <div class="row g-3 align-items-center mb-3">
          <div class="col-5 text-end">
            <label class="d-block text-muted small">Giá hiện tại</label>
            <span
              class="fs-5 text-secondary text-decoration-line-through"
              id="price-old-display"
              >...</span
            >
          </div>

          <div class="col-2 text-center text-muted">
            <i class="fs-3">&#8594;</i>
          </div>

          <div class="col-5">
            <label class="d-block text-success small fw-bold"
              >Giá mới (VNĐ)</label
            >
            <input
              type="number"
              id="new_price_input"
              class="form-control form-control-lg border-success text-success fw-bold text-end"
              min="100"
              step="100"
              placeholder="0"
            />
          </div>
        </div>

        <div
          class="alert alert-danger d-flex align-items-center mt-3 d-none p-2 small"
          id="price-error"
          role="alert"
        >
          <div>Vui lòng nhập giá trị hợp lệ (> 0).</div>
        </div>
      </div>

      <div class="modal-footer bg-light d-flex justify-content-between">
        <button
          type="button"
          class="btn btn-danger px-4"
          data-bs-dismiss="modal"
          style="background-color: #ffca2c; border-color: #ffca2c"
        >
          Hủy bỏ
        </button>

        <button
          type="button"
          class="btn text-white px-4 fw-bold shadow-sm"
          id="btn-save-price"
          style="background-color: #4cbb17; border-color: #4cbb17"
        >
          Lưu Thay Đổi
        </button>
      </div>
    </div>
  </div>
</div>
