<div
  class="modal fade"
  id="successModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="successModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title" id="successModalLabel">Thành công!</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Đã tạo lịch hẹn thành công!</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          id="successModalCloseBtn"
          onclick="danhSachLichHen()"
        >
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>
