<div
  class="modal fade"
  id="deleteConfirmModal"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="deleteModalLabel">Xác nhận Xóa Lịch Hẹn</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        Bạn có chắc chắn muốn **xóa vĩnh viễn** lịch hẹn này không?
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Hủy
        </button>

        <button
          type="button"
          class="btn btn-danger"
          id="confirmDeleteButton"
          onclick="confirmDeletion()"
        >
          Xác nhận Xóa
        </button>
      </div>
    </div>
  </div>
</div>
