<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
    <h1>Hệ Thống Quản Lý Phòng Khám</h1>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ms-auto">
          <button
            onclick="window.location.href='/'"
            class="btn btn-primary nav-item text-white"
          >
            Trang chủ
          </button>

          <button
            onclick="danhSachBenhNhan()"
            class="btn btn-primary nav-item text-white"
          >
            Danh sách Bệnh Nhân
          </button>

          <button
            onclick="danhSachLichHen()"
            class="btn btn-primary nav-item text-white"
          >
            Danh sách Lịch Hẹn
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
