<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <h1>Hệ Thống Quản Lý Phòng Khám</h1>
        <div class="collapse navbar-collapse" id="navbarNav"> 
            <div class="navbar-nav ml-auto">
                <button onclick="window.location.href='/'" class="btn btn-primary nav-item">
                    Trang chủ
                </button>
                <button onclick="danhSachBenhNhan()" class="btn btn-primary nav-item">
                    Danh sách Bệnh Nhân
                </button>
                <button onclick="danhSachLichHen()" class="btn btn-primary nav-item">
                    Danh sách Lịch Hẹn
                </button>
            </div>
        </div>
    </nav>
</header>