<% const serviceRowId = 'initial-service-row'; %>
<tr class="service-row" data-id="<%= serviceRowId %>">
  <td>
    <select
      name="service_ma[]"
      class="form-select service-select"
      id="serviceSelect-<%= serviceRowId %>"
      required
    >
      <option value="">--- Đang tải Dịch vụ ---</option>
    </select>
  </td>
  <td>
    <input
      type="number"
      name="service_so_luong[]"
      class="form-control text-end"
      value="1"
      min="1"
      required
    />
  </td>
  <td>
    <input
      type="text"
      class="form-control text-end"
      id="servicePriceInput-<%= serviceRowId %>"
      placeholder="Giá"
      readonly
    />
  </td>
  <td>
    <button type="button" class="btn btn-danger btn-sm remove-service">
      Xóa
    </button>
  </td>
</tr>
