<div class="modal fade" id="rescheduleModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title fw-bold">Đặt Lịch Tái Khám</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="rescheduleForm" onsubmit="event.preventDefault(); luuLichTaiKham()">
                    <input type="hidden" id="reschedule_bn_ma"></input>
                    
                    <div class="form-group mb-3">
                        <label for="reschedule_date" class="form-label">Ngày Hẹn (*)</label>
                        <input type="text" id="reschedule_date" class="form-control datepicker-input" required placeholder="dd/mm/yyyy"></input>
                    </div>

                    <div class="form-group mb-3">
                        <label for="reschedule_time" class="form-label">Khung Giờ (*)</label>
                        <select id="reschedule_time" class="form-select" required>
                            <option value=""> Chọn khung giờ hẹn --</option>
                            </select>
                    </div>

                    <div class="form-group mb-3">
                        <label for="reschedule_note" class="form-label">Ghi Chú</label>
                        <textarea id="reschedule_note" class="form-control" rows="2"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer bg-light d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy Bỏ</button>
                <button type="button" onclick="luuLichTaiKham()" class="btn btn-primary fw-bold">Xác Nhận Đặt Lịch</button>
            </div>
        </div>
    </div>
</div> 