<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
    <h1>Đã xảy ra lỗi</h1>
    <p><%= message %></p>
    <a href="/">Quay về trang chủ</a>
</body>
</html>