.navbar {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.navbar h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar-nav .btn {
  margin-left: 10px;
  border-radius: 20px; 
  font-weight: 500;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}


.navbar-nav .btn:hover {
  background-color: white;
  color: #0d6efd !important; 
  transform: translateY(-2px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul.ui-autocomplete {
    z-index: 9999 !important;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

body{
  padding-top: 70px;
}
