.form-section-title {
            background-color: #e9ecef;
            padding: 10px 15px;
            font-weight: bold;
            color: #0d6efd;
            border-radius: 5px;
            margin-top: 20px;
            margin-bottom: 15px;
            text-transform: uppercase;
        }
        .patient-info-field {
            font-weight: bold;
            color: #495057;
            margin-left: 5px;
        }
        .bg-custom-light {
            background-color: #f8f9fa;
        }
        
body {
  padding-top: 70px;
}