    <div class="modal fade" id="modalConfirmDelete" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center border-0 shadow">
                <div class="modal-header bg-danger text-white border-0 justify-content-center">
                    <h5 class="modal-title fw-bold">Cảnh Báo Xóa</h5>
                </div>
                <div class="modal-body p-4">
                    <p class="fs-5 mb-1">Xóa dịch vụ này?</p>
                    <p class="fw-bold text-danger fs-5" id="lblTenXoa">...</p>
                </div>
                <div class="modal-footer justify-content-center bg-light border-0">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger fw-bold" onclick="thucHienXoa()">Đồng ý Xóa</button>
                </div>
            </div>
        </div>
    </div>