<div class="modal fade" id="notificationModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content bg-danger text-white border-0 shadow-lg">
            <div class="modal-body text-center p-4">
                <i class="fas fa-exclamation-triangle fa-2x mb-3"></i>
                <p class="fw-bold mb-0" id="notificationMessage">không thể xóa bệnh nhân này dó đã tồn tại lích sử khám bệnh!</p>
            </div>
        </div>
    </div>
</div>