<div class="modal fade" id="warningModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content border-0 shadow-lg">
            <div class="modal-header bg-warning text-dark border-0 justify-content-center">
                <h5 class="modal-title fw-bold"><i class="fas fa-exclamation-triangle me-2"></i>Chú Ý</h5>
            </div>
            <div class="modal-body text-center p-4">
                <p class="fs-6" id="warningMessage">...</p>
            </div>
            <div class="modal-footer justify-content-center border-0 pt-0">
                <button type="button" class="btn btn-warning px-4 fw-bold" data-bs-dismiss="modal">Đã Hiểu</button>
            </div>
        </div>
    </div>
</div>